body {
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 50%;
    border: solid 1px #DEDFE0;
}

header {
    background-color: #8C1B10;
    padding: 10px;
    font-size: 20px;
    font-family: Arial;
}
    header a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
    }

.buttons-container {
    text-align: right;
    padding: 10px 0;
}

.news-by-author-container {
    padding: 10px;
}

.news-item-container {
    padding: 10px;
}
    .news-item-container .content {
        white-space: pre-wrap
    }
    .news-item-container .created-at {
        color: #9C9EA1;
    }


.form-container {
    padding: 20px;
}
    .error {
        border: solid 1px red;
    }
    .error-message {
        color: red;
        font-weight: bold;
    }
    .form-container textarea {
        width: 100%;
    }

.news-list-container {
    padding: 10px;
}

    .news-list-container .created-at {
        color: #999999;
    }